@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Short+Stack');

.todoApp {
  display   : inline-flex;
  flex-flow : column nowrap;
  width     : 400px;
  padding   : 10px;
  .todoForm {
    display : inline-flex;
    width   : 100%;
    &_label {
      flex          : 1;
      padding       : 2px 10px;
      color         : #454545;
      border        : none;
      border-bottom : 2px solid #5896FD;
      font-size     : 20px;
    }
    &_submit {
      border            : 2px solid #5896FD;
      color             : #fff;
      background-color  : #5896FD;
      font-size         : 16px;
      text-transform    : uppercase;
      padding           : 0 20px;
      height            : 34px;
      line-height       : 30px;
      cursor            : pointer;
    }
  }
  .todoList {
    display   : inline-flex;
    flex-flow : column nowrap;
    &_item {
      display       : inline-flex;
      height        : 24px;
      line-height   : 20px;
      margin-top    : 10px;
      &-completed {
        span {
          text-decoration : line-through;
        }
      }
      &-pending {
        span {
          text-decoration : none;
        }
      }
      span {
        flex          : 1;
        padding-left  : 10px;
        font-family   : 'Short Stack', cursive;
        font-size     : 14px;
        color         : #454545;
        cursor        : default;
        height        : inherit;
        line-height   : 24px;
      }
      button {
        cursor            : pointer;
        text-align        : center;
        font-size         : 20px;
        font-weight       : 700;
        color             : #5896FD;
        background-color  : #fff;
        border            : 2px solid #5896FD;
        border-radius     : 50%;
        width             : 24px;
        height            : inherit;
        line-height       : inherit;
        transform         : rotate(45deg);
      }
    }
  }
  .filterList {
    display : inline-flex;
    &_label {
      margin-right      : 10px;
      padding-left      : 10px;
      color             : #5896FD;
    }
    &_item {
      margin-right : 10px;
      &-active {
        text-decoration : none;
        color           : #5896FD;
        cursor          : default;
      }
      &-inactive {
        color : #454545;
      }
    }
  }
}