@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Short+Stack');

.todoApp {
  display   : inline-flex;
  flex-flow : column nowrap;
  width     : 100%;
  padding   : 10px;
  .todoForm {
    display : inline-flex;
    width   : 100%;
    &_label {
      width         : 400px;
      padding       : 2px 10px;
      color         : #454545;
      border        : none;
      border-bottom : 2px solid #5896FD;
      font-family   : 'Short Stack', cursive;
      font-size     : 20px;
    }
    &_submit {
      border            : 2px solid #5896FD;
      color             : #fff;
      background-color  : #5896FD;
      font-size         : 16px;
      text-transform    : uppercase;
      padding           : 0 20px;
      height            : 34px;
      line-height       : 30px;
      cursor            : pointer;
    }
  }
  .todoList {
    &_item {
      &-completed {
        text-decoration : line-through;
      }
      &-pending {
        text-decoration : none;
      }
      span {
        font-family : 'Short Stack', cursive;
        font-size   : 20px;
        color       : #454545;
        cursor      : default;
      }
      button {
        cursor : pointer;
      }
    }
  }
  .filterList {
    display : inline-flex;
    &_label {
      margin-right      : 10px;
      padding-left      : 10px;
      color             : #5896FD;
    }
    &_item {
      margin-right : 10px;
      &-active {
        text-decoration : none;
        color           : #5896FD;
        cursor          : default;
      }
      &-inactive {
        color : #454545;
      }
    }
  }
}