.todoApp {
  width   : 100%;
  padding : 10px;
  .todoList {
    &_item {
      &-completed {
        text-decoration : line-through;
      }
      &-pending {
        text-decoration : none;
      }
      span {
        cursor : default;
      }
      button {
        cursor : pointer;
      }
    }
  }
  .filterList {
    &_item {
      margin-right : 10px;
      &-active {
        text-decoration : none;
        color           : #000;
        cursor          : default;
      }
    }
  }
}